<header>
  <div class="row">
    <div class="large-4 large-centered columns">
      <a href="/"><img src="images/banner.png"></a>
    </div>
  </div>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="#">Links</a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="row">
        <li class="large-3 columns"><a href="about.html">About</a></li>
        <li class="has-dropdown not-click large-3 columns"><a href="active.html">Brothers</a>
          <ul class="dropdown">
            <li><a href="active.html">Active</a></li>
            <li><a href="brothers.html">All</a></li>
          </ul>
        </li>
        <li class="large-3 columns"><a href="events.html">Events</a></li>
        <li class="large-3 columns"><a href="rush.html">Rush</a></li>
      </ul>
    </section>
  </nav>
</header>
