<section id="about" class="row">
  <h1>About</h1>
  <div class="row">
    <div class="large-7 columns">
      <h2>What is PDPsi?</h1>
      <p>Pi Delta Psi is the <strong>first</strong> and <strong>only</strong> Asian cultural interest (not Asian exclusive) fraternity and has set a <strong>record</strong> for the <strong>fastest</strong> growing fraternity of its kind since inception.</p>
      <p>Founded at Binghamton University in 1994, Pi Delta Psi has expanded to 30 schools in 19 years. 12 men chartered and established the Columbia University Associate Chapter in the Spring of 2005, placing Pi Delta Psi on the campus of Columbia University in New York City. We now stand at 79 brothers strong after 15 semesters on campus.</p>
      <p>Pi Delta Psi brothers have developed into emerging leaders on campus and nationally. Leadership abilities and skills are toned through the work we do, such as creating and hosting events, promoting Asian culture, networking with other organizations, running a branch of a national organization, all while maintaining high academic standards.</p>
      <p>The mission of Pi Delta Psi Fraternity, Inc. is to maintain its Fraternal existence by instilling values that nurture and perpetuate the continual growth and development of the individual through Academic Achievement, Cultural Awareness, Righteousness, Friendship and Loyalty while fostering ethical behavior, leadership, and philanthropy.</p>
      <p>Pi Delta Psi was founded on these principles to help promote Asian Awareness amongst ourselves and throughout the community. We envisioned this to be possible by going out of the boundaries of an organization and creating a Fraternity on the basis of common goals and ideals in the form of a brotherhood. We believe that through education, we can become more knowledgeable about the different Asian cultures, overcome obstacles of racism and discrimination, therefore unifying us as a whole.</p>
      <p>This mission statement embodies the purpose of our Fraternity and is set forth as a guide that empowers each member to better himself, the Brotherhood, community, and society as a whole.</p>
    </div>
    <div class="large-5 columns">
      <h2>Chapter History</h1>
      <p>The Columbia University Associate Chapter of the Pi Delta Psi fraternity was built on the foundation of 13 men and the Asian Cross Cultural Exchange Interest Group in October of 2004. The creators of AXE are Albert Lee, Richard Chun, and Joseph Kim. Through the efforts of these 13 members, the Columbia University Associate Chapter began its presence on campus in February of 2005. AXE was transformed into the 19th house of Pi Delta Psi on April 23, 2005.<br>
      The 12 founding fathers of the Columbia University Associate Chapter are:
      </p>
      <p>Albert "Chosen" Lee – President<br>
      Andrew "Sub Zero" Choi – VP/Pledge Educator<br>
      Richard "Morpheus" Chun – Treasurer<br>
      Joseph "Hwoarang" Kim – Recorder<br>
      George "Element" Liao – Warden<br>
      Ben "Crow" Koo – Pledge Assistant<br>
      Jessie "Prodigy" Pak – Co-Cultural Chair<br>
      Edward "Diesel" Kim – Co-Social Chair<br>
      Douglas "Justice" Lee – Co-Rush Chair<br>
      Michael "Apostle" Lee – Philanthropy Chair<br>
      William "Rogue" Kim – Co-Cultural Chair<br>
      Christopher "Quiet Storm" Hwang<br></p>
    </div>
  </div>
</section>
