<div class="row" id="index">
  <h2>Excellence Through Brotherhood</h2>
  <ul data-orbit data-options="navigation_arrows: false; slide_number: false; timer: false;">
    <li>
      <img src="images/philanthopy.jpg">
    </li>
    <li>
      <img src="images/groupphoto.jpg">
    </li>
  </ul>
</div>
